<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: head}">
</head>

<body>
    <nav th:replace="~{fragments :: navbar (reservationSettings)}"></nav>

    <h2 class="text-center my-5">휴무 관리</h2>

    <div class="row justify-content-center">
        <div class="col-auto" th:each="holiday: ${holidayList}">
            <div class="row" th:text="${scheduler.getMerchantName()}"></div>
            <div class="row" th:each="closedDate: ${scheduler.getClosedDateList()}" th:text="${closedDate}"></div>
        </div>
    </div>

    <h2 class="text-center my-5">스케줄러 관리</h2>

    <div class="row">
        <div class="col-2">지점명</div>
        <div class="col-5">작동여부</div>
        <div class="col-5">시간</div>
    </div>

    <div class="row" th:each="entry: ${schedulerList}">
        <div class="col-2" th:text="${entry.key}">지점명</div>
        <div class="col-5" th:if="${entry.value.getIsAwake()}">
            <button class="btn-success mx-1 mt-4" onclick="turnOffScheduler(this)" id="scheduler-on">작동중
                <span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span>
            </button>
        </div>
        <div class="col-5" th:if="${!entry.value.getIsAwake()}">
            <button class="btn-danger mx-1 mt-4" onclick="turnOnScheduler(this)" id="scheduler-off">중단</button>
        </div>
        <div class="col-5" th:text="${entry.value.getTime()}">시간</div>
    </div>

</body>
<script th:src="@{/js/holiday.js}"></script>
</html>