<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body class="bg-light">
<nav th:replace="~{fragments :: navbar (mockReservations)}"></nav>
<div class="container">
    <div class="row mt-5 justify-content-between">
        <div class="col-4">
            <div class="list-group">
                <button type="button"
                        class="list-group-item list-group-item-action"
                        th:each="merchant: ${merchantList}"
                        th:text="${merchant.getName()}"
                        th:data-merchant-id="${merchant.getId()}"></button>
            </div>
        </div>
        <!--        <div class="col-2"></div>-->
        <div class="col-6">
            <div class="row mb-3">
                <label class="col-2 col-form-label">테마</label>
                <div class="col-10">
                    <select id="themeSelect" class="form-select" aria-label="테마"></select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="dateRangePicker" class="col-2 col-form-label">예약일</label>
                <div class="col-10">
                    <input id="dateRangePicker" class="form-control w-100"/>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-2 col-form-label">예약시간</label>
                <div class="col-5">
                    <div class="input-group w-100">
                        <select id="startHour" class="form-select hour" aria-label="시"></select>
                        <span class="input-group-text">:</span>
                        <select id="startMinute" class="form-select minute" aria-label="분"></select>
                    </div>
                </div>
                <div class="col-5">
                    <div class="input-group w-100">
                        <select id="endHour" class="form-select hour" aria-label="시"></select>
                        <span class="input-group-text">:</span>
                        <select id="endMinute" class="form-select minute" aria-label="분"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" id="saveMockReservationButton" class="btn btn-primary w-100">저장</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<template id="themeOptionTemplate">
    <option value="${themeId}">${themeName}</option>
</template>

<template id="hourOptionsTemplate">
    <option value="00">00</option>
    <option value="01">01</option>
    <option value="02">02</option>
    <option value="03">03</option>
    <option value="04">04</option>
    <option value="05">05</option>
    <option value="06">06</option>
    <option value="07">07</option>
    <option value="08">08</option>
    <option value="09">09</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
</template>

<template id="minuteOptionsTemplate">
    <option value="00">00</option>
    <option value="05">05</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="20">20</option>
    <option value="25">25</option>
    <option value="30">30</option>
    <option value="35">35</option>
    <option value="40">40</option>
    <option value="45">45</option>
    <option value="50">50</option>
    <option value="55">55</option>
</template>

<script th:src="@{/js/mockReservations.js}"></script>
</html>