<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body class="bg-light">
    <nav th:replace="~{fragments :: navbar (reservationSettings)}"></nav>
    <div class="container">
<!--        TODO Reservation View-->
        <div class="col-lg-2 mb-3">
            <div id="treeArea" class="bg-white">
                <div class="accordion">
                    <div class="accordion-item" th:each="merchant, i : ${merchants}">
                        <h2 class="accordion-header" th:id="'merchant-' + ${merchant.getId()}">
                            <button class="accordion-button" th:classappend="${i.index != 0} ? 'collapsed'" type="button" data-bs-toggle="collapse"
                                    th:data-bs-target="'#themeList-' + ${merchant.getId()}" th:aria-expand="${i.index == 0} ? 'true' : 'false'" th:text="${merchant.getName()}"></button>
                        </h2>
                        <div th:id="'themeList-' + ${merchant.getId()}" class="accordion-collapse collapse" th:classappend="${i.index == 0} ? 'show'"
                             th:aria-labelledby="'merchant-' + ${merchant.getId()}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="table-header"><label for="selectAll"><input type="checkbox" id="selectAll" onclick="selectAll()"></label></td>
                    <td class="table-header">퀘스트</td>
                    <td>예약자</td>
                    <td>연락처</td>
                    <td>인원</td>
                    <td>예약시간</td>
                    <td>등록일</td>
                    <td>가격</td>
                </tr>
            </thead>
            <!--/*@thymesVar id="reservations" type="java.util.List<com.chadev.xcape.admin.controller.response.ReservationResponse>"*/-->
            <tbody th:each="reservation, i : ${reservations}">
                <tr>
                    <td><label for="select1">
                        <input type="checkbox" id="select1">
                    </label></td>
                    <td th:text="${reservation.themeName}">테마이름</td>
                    <td th:text="${reservation.reservedBy}">예약자</td>
                    <td th:text="${reservation.phoneNumber}">연락처</td>
                    <td th:text="${reservation.participantCount}">인원</td>
                    <td th:text="${reservation.reservationTime}">예약 시간</td>
                    <td th:text="${reservation.reservedAt}">등록 시간</td>
                    <td th:text="${reservation.price}">가격</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script th:src="@{/js/reservation.js}"></script>
</html>