<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: head}">
    <style>
        .bg-dark{}
    </style>
</head>
<body class="reservation_body">
    <nav th:replace="~{fragments :: navbar (reservationSettings)}"></nav>
<!--        TODO Reservation View-->
    <h2 class="text-center text-white reservation_title">예약목록</h2>
    <div class="container reservation_container text-white " id="reservationContainer">
        <div class="d-flex">
            <label class="position-relative" for="datePicker">날짜
                <input type="text" id="datePicker" class="border-0 text-white bg-black form-control datepicker" th:value="${date}" onchange="datePickerSet(this)">
            </label>
        </div>
        <div class="d-flex container justify-content-center lg-">
<!--            <div class="col">-->
<!--                <div class="row container">#</div>-->
<!--                <div class="row container bg-black" th:each="i: ${#numbers.sequence(1, maxLength)}" th:text="'Time' + ${i}"></div>-->
<!--            </div>-->
            <div class="row" id="reservationList" th:value="${merchantId}">
                <div class="col-auto bg-black p-1" th:each="theme:${themes}" th:id="'theme_' + ${theme.getId()}" th:data="${theme.getMinParticipantCount()} + '~' + ${theme.getMaxParticipantCount()}">
                    <div class="bg-black text-center fw-bold mb-1" th:text="${theme.getNameKo()}"></div>
                    <div class="text-center bg-dark bg-opacity-75 mb-1" th:each="reservation: ${theme.getReservationList()}" th:id="${reservation.getId()}">
                        <div class="container" th:if="${reservation.getIsReserved()}">
                            <div class="fw-bold" th:text="${reservation.getTime()}"></div>
                            <div th:text="${reservation.getReservedBy()} + '(' + ${reservation.getParticipantCount} + ')'" onmouseover="onMouseOver(this)" onmouseout="onMouseOut(this)" th:value="${reservation.getId()}" onclick="openModal(this)" style="cursor: pointer"></div>
                            <div th:text="${reservation.getPhoneNumber()}"></div>
                        </div>
                        <div class="container text-muted" th:if="${!reservation.getIsReserved()}">
                            <div class="d-flex">
                                <div class="fw-bold text-muted flex-column" th:text="${reservation.getTime()}"></div>
                                <button class="btn btn-success text-black px-1 ml-2 mt-1 flex-column py-0 fw-bold" th:value="${reservation.getId()}" onclick="openModal(this)">예약</button>
                            </div>
                            <div class="">-</div>
                            <div>-</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true" onclick="closeModal()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold" id="modalTitle"></h5>
                    <button type="button" class="btn btn-danger fw-bold" id="cancelBtn" onclick="cancelReservation(this)">예약취소</button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="reservedBy" class="col-form-label fw-bold">예약자명</label>
                        <textarea class="form-control" id="reservedBy"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="col-form-label fw-bold">연락처</label>
                        <textarea class="form-control" id="phoneNumber"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="participantCount" class="col-form-label fw-bold">인원수</label>
                        <select class="form-select" id="participantCount">
                            <option value="">인원</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="roomType" class="form-check-label fw-bold">오픈룸</label>
                        <input type="checkbox" class="form-check-input" id="roomType">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal" onclick="closeModal()">닫기</button>
                    <button type="button" class="btn btn-primary fw-bold" id="confirmBtn" onclick="confirmEdit(this)">적용</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:src="@{/js/reservation.js}"></script>
</html>