<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: head}">
</head>

<body class="reservation_body" style="background-image: url('http://www.xcapesw.co.kr/img/bbs_bg.jpg')">
    <nav th:replace="~{fragments :: navbar (reservationSettings)}"></nav>
    <!--        TODO Reservation View-->
    <div class="container">
        <!--/*@thymesVar id="schedulerList" type="java.util.List<com.chadev.xcape.admin.controller.response.SchedulerResponse>"*/-->
        <div class="row" th:each="scheduler: ${schedulerList}">
            <div th:value="${scheduler.getMerchantName()}"></div>
            <div th:if="${scheduler.getIsAwake()}" class="spinner-border spinner-border-sm">작동중</div>
            <div th:if="${!scheduler.getIsAwake()}" class="spinner-border spinner-border-sm">중단</div>
        </div>
    </div>
</body>
<script th:src="@{/js/scheduler.js}"></script>
</html>